<html>
<head>
    <title>{{title}}</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="title" content="Jigsaw Jungle - Play Custom Online Jigsaw Puzzles">
    <meta name="description" content="Explore our curated collection of stunning images to create custom jigsaw puzzles online.
     Select an image, convert it into a puzzle, and enjoy hours of fun—perfect for all ages and skill levels!">
    <meta name="keywords"
          content="puzzle, jigsaw, online jigsaw puzzles,select and play puzzles, digital jigsaw puzzles, image to puzzle, curated image puzzles">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="jigsawjungle.net">
    <meta property="og:url" content="https://jigsawjungle.net">
    <meta property="og:image" content="images/jigsawjungle.png">
    <meta property="og:title" content="JigsawJungle">
    <meta property="og:description" content="Explore our curated collection of stunning images to create custom jigsaw puzzles online.
     Select an image, convert it into a puzzle, and enjoy hours of fun—perfect for all ages and skill levels!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="{{cssFile}}">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/clicky-menus.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="icon" type="image/x-icon" href="images/jigsawjungle.webp">

    <script src="js/meta.js"></script>
</head>
