<html>
<head>
  <title>{{title}}</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="title" content="Jigsaw Jungle">
    <meta name="description" content="Solve and share puzzle">
    <meta name="keywords" content="puzzle, jigsaw, p5js, jigsawjungle, jungle, image to puzzle, image to jigsaw">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="jigsawjungle.net">
    <meta property="og:url" content="https://jigsawjungle.net">
    <meta property="og:image" content="images/jigsawjungle.png">
    <meta property="og:title" content="JigsawJungle">
    <meta property="og:description" content="Solve and share puzzles">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="{{cssFile}}">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/clicky-menus.css" />
    <link rel="icon" type="image/x-icon" href="images/jigsawjungle.png">
    <!--===== Boxicons CSS =====-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- icons -->
    <script src="https://kit.fontawesome.com/d86c5c458d.js" crossorigin="anonymous"></script>

    <script src="js/meta.js"></script>
</head>
