<html>
<head>
    <title>{{title}}</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="title" content="Jigsaw Jungle">
    <meta name="description" content="Choose from our curated collection of stunning images to create and play custom jigsaw puzzles online.
    No uploads required—simply select an image, convert it into a puzzle, and enjoy hours of fun!
    Perfect for all ages and skill levels.">
    <meta name="keywords"
          content="puzzle, jigsaw, online jigsaw puzzles,select and play puzzles, digital jigsaw puzzles, image to puzzle, curated image puzzles">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="jigsawjungle.net">
    <meta property="og:url" content="https://jigsawjungle.net">
    <meta property="og:image" content="images/jigsawjungle.png">
    <meta property="og:title" content="JigsawJungle">
    <meta property="og:description" content="Choose from our curated collection of stunning images to create and play custom jigsaw puzzles online.
    No uploads required—simply select an image, convert it into a puzzle, and enjoy hours of fun!
    Perfect for all ages and skill levels.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="{{cssFile}}">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/clicky-menus.css"/>
    <link rel="icon" type="image/x-icon" href="images/jigsawjungle.png">
    <!--===== Boxicons CSS =====-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- icons -->
    <script src="https://kit.fontawesome.com/d86c5c458d.js" crossorigin="anonymous"></script>

    <script src="js/meta.js"></script>
    <script defer src="https://umami.ninjabyte.net/script.js"
            data-website-id="462e16b2-9d06-4f20-be5a-06dcbe0999bf"></script>
</head>
