<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Pixiepalette</title>
    <link rel="stylesheet" href="css/sample.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
    <div class="nav-content">
        <div class="logo">
            <h2>Pixie Palette Picture Puzzles</h2>
        </div>
<!--        <ul class="nav-links">-->
<!--            <li><a href="studio">Create</a></li>-->
<!--            <li><a href="#">About</a></li>-->
<!--            <li><a href="#">Contact</a></li>-->
<!--        </ul>-->
    </div>
</nav>
<section class="gallery">
    <ul class="images">
        {{#photos}}
            <li class="card" onclick="itemClicked(this)">
                <img id="{{id}}" src="{{photoUrl}}" alt="img">
                <div class="details">
                    <div class="photographer">
                        <i class="uil uil-camera"></i>
                        <span>{{description}}</span>
                    </div>
                </div>
            </li>
        {{/photos}}
    </ul>
</section>
<script src="js/index.js"></script>
</body>
</html>