<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> header}}
<body>
<nav>
    <div class="nav-content">
        <div class="logo">
            <img src="images/pixelpuzzles.webp"  alt="site-logo"/>
            <h2>Pixel Puzzles</h2>
        </div>
    </div>
</nav>

<H2> Featured Puzzles </H2>
<section class="gallery">
    <ul class="images">
        {{#photos}}
            <li class="card" onclick="itemClicked(this)">
                <img id="{{id}}" src="{{url}}" alt="img">
                <div class="details">
                    <div class="stats">
                        <img class="like" src="images/like.svg" alt="like"/><span>{{likes}}</span>   <img class="played" alt="Play count" src="images/played.svg"/>
                        <span>{{playCount}}</span>
                    </div>
                </div>
            </li>
        {{/photos}}
    </ul>
</section>
<script src="js/index.js"></script>
</body>
</html>
