{{> header}}

<h1>{{title}}</h1>

<div class="image-container">
    {{#photos}}
        <img id="{{id}}" class="photo" src="{{photoUrl}}"/>
    {{/photos}}
</div>
<button class="btn">Load More</button>

<script src="js/index.js"></script>

{{> footer}}