{{> header}}
<body>

<!-- for use with <use> -->
<svg xmlns="http://www.w3.org/2000/svg" hidden>
    <symbol id="arrow" viewbox="0 0 16 16">
        <polyline points="4 6, 8 10, 12 6" stroke="#fff" stroke-width="2" fill="transparent" stroke-linecap="round"/>
    </symbol>
</svg>

<!-- In the real world, all hrefs would have go to real, unique URLs, not a "#" -->
<nav id="site-navigation" class="site-navigation">
    <a class="home-menu" href="/">
        <div class="logo">
            <img src="images/jigsawjungle.png" alt="site-logo"/>
            <h2>Jigsaw Jungle</h2>
        </div>
    </a>
    <ul class="clicky-menu no-js" id="main-menu">
        <li>
            <a href="#" id="menu-toggle">
                Change Puzzle Size
                <svg aria-hidden="true" width="16" height="16">
                    <use xlink:href="#arrow"/>
                </svg>
            </a>
            <ul id="puzzle-sizes"></ul>
        </li>
    </ul>
</nav>


<input type="hidden" id="photoUrl" value="{{photoUrl}}">
<input type="hidden" id="photoId" value="{{photoId}}">

<div class="ui disabled">
    <!-- ending -->
    <div class="ui-popup-container disabled">
        <div class="ui-xpopup">
            <!-- Thank you for playing -->
            <div class="section">
                <h1>Thank you for playing!</h1>
                <p>
                    Follow
                    <a href="https://twitter.com/Puzzle_fy" target="_blank"
                    >@Puzzle_fy</a> on twitter
                </p>
            </div>
            <!-- Puzzle generator -->
            <div class="section container">
                <h2>Generate your puzzle</h2>
                <p hidden>Make your own puzzle and share it with your friends!</p>
                <input type="text" placeholder="Image link" id="url"/>
                <input type="number" placeholder="Width" min="0" id="cols"/> x
                <input type="number" placeholder="Height" min="0" id="rows"/>
                <br/><br/>
                <div>
                    <button type="button" onclick="window.location.href = generate()">
                        Generate
                    </button>
                    <button type="button" class="copy" onclick="copyGenerate()">
                        <i class="fas fa-copy"></i>
                    </button>
                    <button type="button" class="twitter" onclick="shareGenerate()">
                        <i class="fab fa-twitter"></i>
                    </button>
                </div>
            </div>
            <!-- Play again -->
            <div class="section">
                <a id="again">
                    <button type="button">Play again</button>
                </a>
                <a id="share" target="_blank">
                    <button type="button" class="twitter">
                        <i class="fab fa-twitter"></i></button>
                </a>
            </div>
        </div>
    </div>

    <!-- functionalities -->
    <div class="ui-container">
        <div class="tooltip">
            <span class="tooltip-content">Preview</span>
            <div class="functionality" onclick="hint()">
                <i class="fas fa-eye"></i>
            </div>
        </div>
        <div class="tooltip">
            <span class="tooltip-content">Fullscreen</span>
            <div class="functionality" onclick="toggleFullscreen(this)">
                <i class="fas fa-expand"></i>
            </div>
        </div>
        <div class="tooltip">
            <span class="tooltip-content">Reset</span>
            <div class="functionality" onclick="reset()">
                <i class="fas fa-undo"></i>
            </div>
        </div>
        <div class="tooltip">
            <span class="tooltip-content">Like</span>
            <div class="functionality" onclick="like()">
                <i class="fas fa-thumbs-up"></i>
            </div>
        </div>
        <!-- social -->
        <div class="tooltip">
            <span class="tooltip-content">Facebook</span>
            <div class="functionality twitter" data-sharer="facebook" data-hashtag="jigsawjungle"
                 data-url="https://jigsawjungle.net/">
                <i class="fab fa-facebook"></i>
            </div>
        </div>
        <div class="tooltip">
            <span class="tooltip-content">X</span>
            <div class="functionality twitter" data-sharer="twitter" data-title="Jigsaw Jungle"
                 data-hashtags="jigsaw, jigsawjungle" data-url="https://jigsawjungle.net/">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="list-wrapper disabled">
        <ul id="photo-list">
            {{#photos}}
                <li class="card" onclick="itemClicked(this)">
                    <img id="{{id}}" src="{{photoUrl}}" alt="img">
                    <div class="details">
                        <div class="photographer">
                            <i class="uil uil-camera"></i>
                            <span>{{description}}</span>
                        </div>
                    </div>
                </li>
            {{/photos}}
        </ul>
        <button onclick="handleClick('previous')" class="button button--previous" type="button">➜</button>
        <button onclick="handleClick('next')" class="button button--next" type="button">➜</button>
    </div>
    <!-- stats -->
    <div class="stats-container">
        <span id="stats" class="stats">placed 0 of 100 pieces | </span><span class="hours"></span>:</span><span
            class="minutes"></span>:<span class="seconds"> </span>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/p5@1.10.0/lib/p5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sharer.js@0.5.2/sharer.min.js"></script>
<script src="js/jigsaw.js"></script>
<script src="js/plugins/cors.js"></script>
<script src="js/plugins/transform.js"></script>
<script src="js/script.js"></script>
<script src="js/timer.js"></script>

</body>
</html>